<section class="card">
  <a href="/blog/{{id}}">
    <div class="title">
      <h2>{{title}} </h2>
      <p>Posted by: {{user.username}} on {{format_date createdAt}}</p>
    </div>    
    <p>{{description}}</p>
  </a>
</section>